*{
    margin: 0;
    
    border: border-box;
}
.navbar{
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
}

.nav-inl{
    font-family: Pacifico , cursive;
    color: white;
   
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;

}
.nav-ini{
    margin-top: 15px;
}



.nav-ini a{
    font-family: arial;
    margin-bottom: 40px;
    justify-content: space-evenly;
    margin: 30px;
    margin-top: 10px;

}
.nav-ini{
    border: 2px solid transparent;
    
}
.nav-ini :hover{
    border:2px solid white
}
.hero-img{
    background-image: url("en_20241002_StateOfPlay_image_l.avif");
    background-size: cover;
    height: 750px;
    color: white;
    margin: 2px 2px 2px 2px ;
    justify-content: center;
    align-items: flex-end;
    display:flex
}
.para{
    margin-bottom: 5px;
}
.nav2{
    background-color: #e7e7e7;
    height: 80px;
    width: 70%;
    justify-content: center;
    margin-left: 200px;
    margin-top: 70px;
    color: rgb(117, 119, 121);
}
.text{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
   
}
.icon{
    margin-left: 3px;
     height: 50px;
}
h1{
   margin-top: 20px; 
}
h3{
    margin-top: 30px;
    margin-left: 10px;
    text-decoration: none;
}
h3:hover{
    text-decoration: underline;
}
.box-section{
    display: flex;
}
.box1{
    height: 807px;
    width: 700px;
    background-color: white;
    background-image: url("en_20241002_LinkBuds-Open_image_l.avif");
    background-size: cover;
    
    margin: 150px;
    margin-left: 200px;
    border: 1px black solid;
}
.aud{
    margin-left: 0px;
    color:black;

}
.box2{
    height: 400px;
    width: 800px;
    border: 1px solid black;
    margin-top: 150px;
    background-image: url("en_20240925_AU-8Lenses_image_l.avif");
    background-size: cover;
    color:white;
}
.aud2{
    
}
.box3{
    height: 400px;
    width: 700px;
    border: 1px solid black;
    margin-left: 200px;
    background-image: url("en_20241002_TheCrownS6_image_l.avif");
    background-size: cover;
    color: #e7e7e7;
}
.box4{
    margin-left: 100px;
    background-image: url("en_20241002_INZONE-New1_image_l.avif");
    background-size: cover;
    height: 807px;
    width: 700px;
    border: 1px solid black;
    color: #e7e7e7;
}
.box-section2{
    display: flex;
}
.logo2{
    font-size: 5rem;
    

}
.logo{
    
    text-align: center;
   
 
}
.follow{
    font-size: 1.5rem;
}
.news{
    text-align: center;
    font-size: 1rem;
}
.footer{
    background-color: #d4d4d4;
    height: 285px;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    
}
.lists{
    display: unset;
}
.lists a {
    display: flex;
    margin-top: 10px;

}
.heading1{
    margin-left: 20px;
}
.heading2{
    margin-left: 100px;
}
.heading3{
    margin-left: 100px;
}
.navbar-last{
    height: 58px;
    background-color: black;
}
.para-last {
    display: flex;
    color: white;
    justify-content: space-evenly;
    font-size: 1.2rem;
}